body{
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    /* background-color: var(--secondary-color); */
}


:root{
    --primary-color: white;
    --secondary-color: rgb(34, 34, 34);
}

.black{
    color: black;
}

.white{
    color: white;
}

h1{
    text-align: center;
    /* font-size: 2.5rem; */
    margin-top: 2rem;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card{
    background-color: rgba(109, 109, 109, 0.1);
    backdrop-filter: blur(10px);
    width: 30vw;
    height: 80vh;
    /* border: solid 2px rgba(17, 29, 99, 0.534); */
    /* filter: drop-shadow(1px 4px 3px rgb(0, 0, 0)); */
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow : 0 8px 32px rgba(0, 0, 0, 0.37);
    margin: 0.7rem;
    border-radius: 15px;

}



.disc{
    position: absolute;
    right: -25%;
    scale: 2;
    z-index: -1;
    animation: rotate 4s linear infinite;
    transition: scale 0.3s;
}

.disc.active {
    scale: 5;
    filter: brightness(0.1);
}


@keyframes rotate {
    0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.shadow{
    box-shadow : 0 5px 5px rgba(0, 0, 0, 0.185);
}

.songCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#songLink audio{
    width: 350px;
    border-radius: 25px 25px 25px 25px;
    /* margin: 1rem; */
}

#singer{
    margin: 0.7rem;
    margin-bottom: 1.5rem;
    width: 70%;
    
}

#song{
    font-size: 2rem;
    margin-top: 1rem;
    width: 70%;
}

.imageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 1rem; */
}

#image{
    width: 75%;
    transition: all 0.1s ease-in-out;
}

#image:hover{
    cursor: pointer;
    filter: brightness(0.8);
}

#image:active{
    scale: 0.98;
    filter: brightness(0.7);
}

#image img{
    width: 100%;
    margin-top: -1rem;
    /* margin-bottom: 1rem; */
    border-radius: 15px;
    border: solid 1px rgba(255, 255, 255, 0.438);
}

.btns{
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.controlBtn{
    border: solid 1px rgba(128, 128, 128, 0.438);
    border-radius: 20px;
    /* width: 5rem;
    height: 2rem; */
    padding: 0.8rem 1.5rem;
    transition: all 0.2s ease-in-out;
}

.controlBtn:hover{
    background-color: rgb(226, 226, 226);
}

.controlBtn:active{
    transition: 0.1s ;
    background-color: rgb(204, 204, 204);
}


.playlistsContainer{
    color: white;
}

.allSongs{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    overflow-y: scroll;
    scrollbar-width: none;
}

#genre{
    width: 50%;
    text-align: center;
}

.genreFilter{
    display: flex;
    width: 80%;
    justify-content: space-between;
    /* background-color: aqua; */
    margin-top: 2rem;
}

.songNames{
    width: 70%;
    background-color: rgba(245, 245, 245, 0.137);
    padding: 0.7rem;
    border-radius: 10px;
    border: solid rgba(0, 0, 0, 0.384) 1px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.178);
    width: 340px;
    margin-bottom: 10px;
    transition: all ease-out 0.2s;
}

.songNames:hover{
    background-color: rgba(121, 121, 121, 0.185);
    scale: 101%;
    cursor: pointer;
}

.songNamesList{
    width: 70%;
    background-color: rgba(54, 54, 54, 0.26);
    padding: 0.7rem;
    border-radius: 10px;
    border: solid rgba(255, 255, 255, 0.24) 1px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.178);
    width: 340px;
    margin-bottom: 10px;
    transition: all ease- 0.2s;
}

.songNamesList:hover{
    background-color: rgba(255, 255, 255, 0.226);
    scale: 101%;
}




#toggleBtn{
    position: absolute;
    right: 0;
    top: -30px;
    margin-right: 3.5rem;
    /* padding: 0.5rem 1rem; */
}

.playlistName{
    margin-top: 1rem;
    margin-left: 1rem;
}

#playlist, .createPlaylist{
    padding: 0.7rem;
    border-radius: 10px;
    border: none;
    margin: 0 5px;

}

#playlist:focus{
    border: solid 2px rgba(0, 174, 255, 0.726);
    outline: none;
}

.createPlaylist:active{
    background-color: aqua;
}

.playlistsContainer{
    padding: 1.5rem;
}

.playlist{
        overflow-y: scroll;
        scrollbar-width: none;
}

#allPlaylist{
    margin-top: 2rem;
}


/* ///////////////////////////////// */

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  border: 2px solid #414141;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  left: 0.2em;
  bottom: 0.2em;
  background-color: rgb(231, 231, 231);
  border-radius: inherit;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
}

.switch input:checked + .slider {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  border: 1px solid #969696;
}

.switch input:checked + .slider:before {
  transform: translateX(1.5em);
}